<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WatchWise{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="page-container">
        <header>
            <nav>
                <ul>
                    <li>
                        <div class = "logo-name">
                            <a href="/reset_page/main_page">
                                <img src="/static/img/logo.png" alt="Logo" class="logo-img">
                                <p class = "logo-text">WatchWise</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="search-bar">
                            <form method="GET" onsubmit="window.location='/reset_page/search_movie_page/' + encodeURIComponent(this.query.value); return false;">
                                <input name = "query" class = "search-input" required>
                                <button type="submit">
                                    <img src="{{ url_for('static', filename='img/search-icon.png') }}" alt="search-icon" class="search-icon">
                                </button>
                            </form>
                        </div>
                    </li>
                    {% if nickname == "Guest" %}
                        <li>
                            <button onclick="location.href = '/login'" class = "login-button">Войти</button>
                        </li>
                    {% else %}
                        <li>
                            <button onclick="location.href = '/logout'" class = "logout-button">Выйти</button>
                            <a href = "{{ url_for('main.profile_page') }}">
                                <img src="{{ url_for('static', filename='img/unauthorized_user.png') }}" alt = "user-avatar" class = "profile-icon-img">
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
        <footer>
            <p>Все права защищены © 2025</p>
        </footer>
</body>
</html>