{% extends "base.html" %}

{% block title %}WatchWise{% endblock %}

{% block content %}
<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
<div class="movie-container">
{% for movie in popular_movies.results %}
      <div class="movie">
          <a href="{{ url_for('main.movie_info_page', movie_id=movie.id) }}">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            <p>{{ movie.title }}</p>
          </a>
      </div>
{% endfor %}
</div>
{% if current_page > 1 %}
<button onclick="location.href = '/previous_page/main_page'"><</button>
{% endif %}
<button>{{ current_page }}</button>
<button onclick="location.href = '/next_page/main_page'">></button>
{% endblock %}