{% extends "base.html" %}

{% block title %}{{movie_info.title}}{% endblock %}

{% block content %}
<div class = "movie-info-container">
    <div class = "movie-info-container-row">
        <div class = "movie-info-first-column">
            <h1>{{ movie_info.title }} ({{ movie_info.release_date[:4] if movie_info.release_date else "N/A" }})</h1>
            <img src="https://image.tmdb.org/t/p/w500{{ movie_info.poster_path }}" alt="{{movie_info.title}}" class = "movie-info-img">
            <div class = "movie-status-dropdown-container">
                <button class = "movie-status-dropdown-button" id = "dropdown-button" onclick="ToggleDropdown()">{{ current_status }}</button>
                <div id = "dropdown-content" class = "dropdown-content">
                    <ul>
                        {% for status in ["Не просмотрено","Заброшено","В планах","В процессе","Просмотрено"] %}
                            {% if status != current_status %}
                                <li onclick="SelectStatus(this)">{{ status }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class = "movie-info-second-column">
            <h2 class="info-label">Информация</h2>
            <p><strong>Описание:</strong> {{movie_info.overview}}</p>
            <p><strong>Жанры:</strong>
                {% if movie_info.genres %}
                    {% for genre in movie_info.genres %}
                        {{ genre.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    Неизвестно
                {% endif %}
            </p>
            <p><strong>Продолжительность:</strong> {{movie_info.runtime}} минут</p>
        </div>
        <div class = "movie-info-third-column">
            <h2 class = "info-label">Рейтинг</h2>
            <p><strong>Рейтинг по IMDb:</strong> {{ movie_info.vote_average | round(1) }}/10</p>
            <p class = "stars">
                {% set rating = movie_info.vote_average | round(1) %}
                {% set full_stars = (rating // 2) | int %}
                {% set half_star = ((rating % 2) >= 1) %}
                {% set empty_stars = (5 - full_stars - (1 if half_star else 0)) | int %}

                {% for _ in range(full_stars) %}
                    ★
                {% endfor %}
                {% if half_star %}
                    ☆
                {% endif %}
                {% for _ in range(empty_stars) %}
                    ☆
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="similar-movies-background-container">
        <h2 class="similar-movies-title">Похожие фильмы</h2>
        <div class="movie-info-container-row">
            <div class="scroll-container">
                <button onclick="ScrollLeft()" class="scroll-button left"><</button>
                    <div class="similar-movie-container">
                        {% for movie in similar_movies %}
                            <div class = "similar-movie">
                                <a href="{{ url_for('main.movie_info_page', movie_id=movie.id) }}">
                                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                                    <p>{{ movie.title }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                <button onclick="ScrollRight()" class="scroll-button right">></button>
            </div>
        </div>
    </div>
    <div class = "movie-info-container-row">
        <div class = "movie-info-first-column">
            <div class = "comments">
                <h2>Комментарии</h2>
                {% if movie_comments %}
                    {% for comment in movie_comments %}
                        <div class="comment">
                            <p class="comment-author">Автор: {{ comment['author_nickname'] }}</p>
                            <p class="comment-date">Дата: {{ comment['publication_date'] }}</p>
                            <p class="comment-text">{{ comment['text'] }}</p>
                            <button class="comment-button dislike" onclick="DislikeComment({{ comment['id'] }})" data-comment-id="{{ comment.id }}">↓</button>
                            <button class="comment-button like" onclick="LikeComment({{ comment['id'] }})" data-comment-id="{{ comment.id }}">↑</button>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Нет комментариев</p>
                {% endif %}
                <form method="POST" >
                    {{  form.hidden_tag() }}

                    {{ form.comment(size = 256,class_="comment-field") }}


                    {{ form.submit(class_="submit-button") }}
                </form>
            </div>
        </div>
    </div>
</div>

<script>
        function LikeComment(comment_id) {

            var like_button = document.querySelector(`.comment-button.like[data-comment-id="${comment_id}"]`);
            var dislike_button = document.querySelector(`.comment-button.dislike[data-comment-id="${comment_id}"]`);

            fetch("/like_comment", {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                "movie_id": {{ movie_id | tojson | safe }},
                "comment_id": comment_id
                })
            })
            .then(response => {
                if ([401, 400, 500].includes(response.status)) {
                    window.location.reload();
                } else {
                    return response.json();
                }
            })
            .then(data => {

            like_button.disabled = true;
            like_button.style.backgroundColor = "#4CAF50";
            like_button.style.cursor = "not-allowed";
            dislike_button.disabled = false;
            dislike_button.style.backgroundColor = "#BEBEBE";
            dislike_button.style.cursor = "pointer";
            })
        }

        function DislikeComment(comment_id) {

            var like_button = document.querySelector(`.comment-button.like[data-comment-id="${comment_id}"]`);
            var dislike_button = document.querySelector(`.comment-button.dislike[data-comment-id="${comment_id}"]`);

            fetch("/dislike_comment", {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                "movie_id": {{ movie_id | tojson | safe }},
                "comment_id": comment_id
                })
            })
            .then(response => {
                if ([401, 400, 500].includes(response.status)) {
                    window.location.reload();
                } else {
                    return response.json();
                }
            })
            .then(data => {

            dislike_button.disabled = true;
            dislike_button.style.backgroundColor = "#EB3E1C";
            dislike_button.style.cursor = "not-allowed";
            like_button.disabled = false;
            like_button.style.backgroundColor = "#BEBEBE";
            like_button.style.cursor = "pointer";
            })
        }

        function ToggleDropdown() {
            var content = document.getElementById("dropdown-content");
            content.style.display = content.style.display === "block" ? "none" : "block";
        }

        document.addEventListener("click", function(event) {
            var content = document.getElementById("dropdown-content");
            var button = document.getElementById("dropdown-button");

            if (!content.contains(event.target) && !button.contains(event.target)) {
                content.style.display = "none";
            }
        });

        function SelectStatus(element) {
            var selectedStatus = element.innerText;
            document.getElementById("dropdown-button").innerText = selectedStatus;

            document.getElementById("dropdown-content").style.display = "none";

            fetch("/save_movie_status", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    movie_status: selectedStatus ,
                    movie_id: {{ movie_id | tojson }},
                    movie_title: {{ movie_info.title | tojson }}
                })
            })
            .then(response => {
                if ([401, 400, 500].includes(response.status)) {
                    window.location.reload();
                } else {
                    return response.json();
                }
            });
        }

        function ScrollLeft() {
        let movieWidth = document.querySelector('.similar-movie').offsetWidth;
        document.querySelector('.similar-movie-container').scrollBy({ left: -(movieWidth * 5)-50, behavior: 'smooth' });
        }

        function ScrollRight() {
        let movieWidth = document.querySelector('.similar-movie').offsetWidth;
        document.querySelector('.similar-movie-container').scrollBy({ left: (movieWidth * 5)+50, behavior: 'smooth' });
        }
</script>
{% endblock %}