html,body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-container {
  flex: 1;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #372773;
    color: white;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #333;
}

.logo-name {
    position: absolute;
    height: 40px;
    left: 20px;

}
.logo-img {
    position: absolute;
    height: 40px;
    bottom: 20px;
}
.logo-text{
    position: absolute;
    left: 45px;
    bottom: 0px;
    font-size: 24px;
    color: #190F40;
}
.auth-button {
    position: absolute;
    background-color: #190F40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    right: 20px;
    bottom: 8px;

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

main {
    padding: 20px;
    text-align: center;
}

.alert-error{
    color: red;
}

.movie-info-img{
    max-width: 240px;
    max-height: 320px;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie {
  display: flex;
  flex-direction: column;
  background: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movie a img {
  width: 100%;
  height: auto;
  border-radius: 10px;

}
.movie a {
    text-decoration: none;
    color: #ffffff;
}

.movie a:hover {
    color: #5e26bf;
}


