{% extends "base.html" %}

{% block title %}{{movie_info.title}}{% endblock %}

{% block content %}
<div class = "movie-info-container">
    <div class = "movie-info-first-column">
        <h1>{{ movie_info.title }} ({{ movie_info.release_date[:4] if movie_info.release_date else "N/A" }})</h1>
        <img src="https://image.tmdb.org/t/p/w500{{ movie_info.poster_path }}" alt="{{movie_info.title}}" class = "movie-info-img">
        <div class = "movie-status-dropdown-container">
            <button class = "movie-status-dropdown-button" id = "dropdown-button" onclick="ToggleDropdown()">{{ current_status }}</button>
            <div id = "dropdown-content" class = "dropdown-content">
                <ul>
                    <li onclick="SelectStatus(this)">Не просмотрено</li>
                    <li onclick="SelectStatus(this)">Заброшено</li>
                    <li onclick="SelectStatus(this)">В планах</li>
                    <li onclick="SelectStatus(this)">В процессе</li>
                    <li onclick="SelectStatus(this)">Просмотрено</li>
                </ul>
            </div>
        </div>

    </div>
    <div class = "movie-info-second-column">
        <h2 class="info-label">Информация</h2>
        <p><strong>Описание:</strong> {{movie_info.overview}}</p>
        <p><strong>Жанры:</strong>
            {% if movie_info.genres %}
                {% for genre in movie_info.genres %}
                    {{ genre.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                Неизвестно
            {% endif %}
        </p>
        <p><strong>Продолжительность:</strong> {{movie_info.runtime}} минут</p>
    </div>
    <div class = "movie-info-third-column">
        <h2 class = "info-label">Рейтинг</h2>
        <p><strong>Рейтинг по IMDb:</strong> {{ movie_info.vote_average | round(1) }}/10</p>
        <p class = "stars">
            {% set rating = movie_info.vote_average | round(1) %}
            {% set full_stars = (rating // 2) | int %}
            {% set half_star = ((rating % 2) >= 1) %}
            {% set empty_stars = (5 - full_stars - (1 if half_star else 0)) | int %}

            {% for _ in range(full_stars) %}
                ★
            {% endfor %}
            {% if half_star %}
                ☆
            {% endif %}
            {% for _ in range(empty_stars) %}
                ☆
            {% endfor %}
        </p>
    </div>
</div>

<script>
        function ToggleDropdown() {
            var content = document.getElementById("dropdown-content");
            content.style.display = content.style.display === "block" ? "none" : "block";
        }

        document.addEventListener("click", function(event) {
            var content = document.getElementById("dropdown-content");
            var button = document.getElementById("dropdown-button");

            if (!content.contains(event.target) && !button.contains(event.target)) {
                content.style.display = "none";
            }
        });

        function SelectStatus(element) {
            var selectedStatus = element.innerText;
            document.getElementById("dropdown-button").innerText = selectedStatus;

            document.getElementById("dropdown-content").style.display = "none";

            fetch("/save_movie_status", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ movie_status: selectedStatus ,movie_id: {{movie_id}}})
            });
        }
</script>
{% endblock %}